* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #358698;
  text-decoration: none;
}

a:hover {
  color: #73e1ff;
}

a i {
  color: #1d1d1d;
  text-decoration: none;
}

a i:hover {
  color: #838383;
}

i {
  margin-right: 20px;
}

.main {
  margin-bottom: 70px;
}
.header {
  width: 100%;
  padding: 20px;
  background-color: #358698;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
    font-size: 1em;
    color: white;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top:30px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item {
  width: 80%;
  padding: 10px;
  margin: 0px 10px;
  border: solid 1px #35869881;
  font-size: 1.1em;
}

.item__config {
  width: 450px;
  padding: 20px;
  background-color: #ffffff;
  margin: 0px 5px;
  text-align: left;
}

.item__des {
  text-align: left;
  font-size: 1em;
  color: #358698;
}

.item:last-child {
  content: "";
  clear: right;
}


.item__reg {
    margin: 10px 0px;
    padding: 2px 5px;
    background-color: #f3f3f3;
    text-align: left;
}

.links {
  margin-top: 50px;
}

.item__blank {
  margin-bottom: 5px;;
  padding: 2px 5px;
  text-align: left;
}

/* desktop */
.menu {
  position: absolute;
  display: flex;
  margin-top: 30px;
  top: 85px;
  left: 5%;
  height: 200px;
}

.menu ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;

}

.menu li {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.activated {
  color: #ff8945;
}

@media (max-width: 870px){
    .container{
      max-width: 100%;
    }
  
  .main{
    margin-top: 20px;
  }
  

  .menu {
      display: flex;
      flex-wrap: wrap;
      position: static;
      justify-content: space-between;
      margin: 0 auto;
      margin-top: 20px;
      height: 80px;
      width: 80%;
      /* padding-bottom: 15px; */
  }
    
    .menu ul a{
        width: 30%;
        }

  .menu ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 10px;
    font-size: 1em;
  }
  .header__logo h1 {
    font-size: 1.4em;
  }
  .item__reg {
    font-size: 1em;
  }
  i {
    margin-right: 10px;
  }
}

.tags {
  background-color: #ff8945;
  color: #fff;
  padding: 2px;
  margin: 0px 5px 0px 0px;
  font-size: 0.7em;
}

.item__reg .tags {
  background-color: #442a80;

  float: right;
  padding: 2px;
  margin: 2px 5px 0px 10px;
}

.tags a {
  background-color: #ff8945;
  color: #fff;
  padding: 2px;
  margin: 0px 5px 0px 0px;
}

.leftimg {
  float: right; 
  margin: 10px 0; 
 }